<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FoodStuffs</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    
    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    
    

    <h1 class="project-name">foodstuffs</h1>
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non auctor sapien, sed facilisis enim. Proin eu tellus feugiat, fringilla dolor a, sodales mi. Maecenas nec sapien convallis, pretium ipsum a, scelerisque purus. Sed in augue mauris. Fusce in sem eget magna feugiat convallis. Nullam non ultricies lorem, sit amet tempor lectus.</p>
    </div>
    <div class="timeline">
      <a class="twitter-timeline" href="https://twitter.com/timsitorus1" data-widget-id="630077500681527296">Tweets by @timsitorus1</a>
    </div>

    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script src="{{ url_for('static', filename='scripts/vendor.js') }}"></script>
    
    <script src="{{ url_for('static', filename='scripts/plugins.js') }}"></script>
    
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </body>
</html>
